%% -*- mode: Erlang -*-

%%%=====================================================================
%%% Cover options
%%%=====================================================================
{cover_enabled, true}.
{cover_opts,
 [ verbose
 ]}.

%%%=====================================================================
%%% Dependencies
%%%=====================================================================
{deps, [
       ]}.

%%%=====================================================================
%%% Erl compiler options
%%%=====================================================================
{erl_opts, [debug_info]}.
